body {
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    flex-shrink: 1;
}

.selection:hover {
    transform: scale(1.2);
    transition: 300ms;
}

.secret {
    display: none;
}

.results {
    margin-top: 1rem;
    font-size: 1.5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.results h2 {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .results h2 {
        font-size: 1.2rem;
    }
}

.result-score {
    display: block;
    font-size: .9em;
    color: goldenrod;
    font-weight: 800;
    text-align: center;
}

.result-selection {
    font-size: 2rem;
    opacity: .5;
}

.result-selection.winner {
    font-size: 2.5rem;
    opacity: 1;
}